@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: Montserrat, Arial, sans-serif;
}

header, footer {
    padding: 10px;
    background-color: rgba(138, 43, 226, 0.5);
    text-align: center;
    color: #FFF;
    box-shadow: 4px 8px 16px rgba(138, 43, 226, 0.5);
}

main {
    padding: 10px 0;
    background-color: #f4f4f4;
}

.nav-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 0;
    margin: 0;
    height: 100%;
}

.nav-item {
    margin: 0 10px;
}

.nav-item > a {
    text-decoration: none;
    color: #FFF;
    font-weight: bold;
}

.container, .container-disco {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box {
    padding: 1em;
    border: 2px solid rgba(138, 43, 226, 0.5);
    border-radius: 10px;
    box-shadow: 4px 8px 16px rgba(138, 43, 226, 0.5);
    width: 25%;
    min-width: 770px;
}

.container > .box > img {
    border: 2px solid rgba(138, 43, 226, 0.5);
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
}

.container-disco {
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.container-disco > div {
    height: 550px;
    font-weight: bold;
}

.container-disco > ol {
    list-style: none;
}

/* bio grid container */

.grid-container-bio {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 1em;
    height: 800px;
}

.grid-container-bio > ul {
    font-weight: bold;
    list-style-type: none;
}

/* bio grid items */

.grid-container-bio > .grid-container-item {
    padding: 1em;
    text-align: center;
}

.grid-container-item:nth-child(odd) {
    background-color: rgba(128, 128, 128, 0.25);
}

.grid-container-item:nth-child(even) {
    background-color: rgba(128, 128, 128, 0.15);
}

.grid-container-item > div {
    padding: 1em;
}
